body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: radial-gradient(circle, #492fa4 0%, #251a4c 100%);
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}