@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(73, 47, 164) inset !important;
    -webkit-text-fill-color: #eeefff !important;
}

.ticket{
  background-image: url(./assets/textura-papel-viejo-fondo-papel-vintage_262663-435.avif) ;
}

.button-remove svg {
    position: static; 
    width: 16px;
    height: 16px;
    opacity: 1; 
    z-index: auto;
  }
.modifier svg {
    position: static;
    width: 16px;
    height: 16px;
    opacity: 1; 
    z-index: auto;
  }

 div .cart svg {
    position: static; 
    z-index: 10;
  }